body {
    background-color: #261329;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    scroll-snap-align: start;
    min-height: 100vh;
    padding: 20px;
}

/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.about-photo img {
    width: 50%;
    max-width: 250px;
    height: auto;
    border-radius: 50%;
}

.about-description {
    width: 50%;
    text-align: justify;
}

.foto-grande {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;
}

.header-text h1 {
    color: #fff;
    margin: 0;
}

.header-text p {
    margin: 5px 0;
    color: #f08dac;
}

/* Contato */
.contact a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 20px;
}

.contact i {
    color: #f08dac;
    margin-right: 10px;
    font-size: 1.5em;
}

/* Experiência e Habilidades - Caixinhas */
.experience-card,
.skill-card {
    background-color: #3b2040;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
}

.experience-card h3,
.skill-card h3 {
    margin-top: 0;
}

/* Habilidades */
h2 {
    color: #fff;
    border-bottom: 2px solid #f08dac;
    display: inline-block;
    margin-bottom: 10px;
}

.skills {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-box {
    flex: 1;
}

.skill-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.skill-item i {
    margin-right: 10px;
    color: #f08dac;
    font-size: 1.5em;
}

/* Estilos Gerais */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Rodapé */
footer {
    background-color: #3b2040;
    color: #fff;
    padding: 10px;
    text-align: center;
}
