/* Estilo Geral */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #fff;
}

/* Cabeçalho */
header {
    background-color: #261329;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 90%;
    max-width: 1200px;
}

/* Foto grande */
.foto-grande {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

/* Texto ao lado da foto */
.header-text {
    flex: 1;
}

.header-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 5px 0;
}

.header-text .about-me {
    font-size: 1rem;
    margin-top: 15px;
    color: #ddd;
}

/* Experiência */
.experience {
    padding: 50px;
    background-color: #444;
}

.experience h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.experience-card {
    background-color: #555;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.experience-card h3 {
    color: #ff6392;
    margin-bottom: 10px;
}

.experience-card p {
    font-size: 1rem;
    color: #eee;
}

/* Habilidades */
.skills {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.skills h2 {
    font-size: 2.2em;
    margin-bottom: 30px;
}

.technical-skills, .soft-skills {
    margin-bottom: 30px;
    text-align: left;
    display: inline-block;
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.technical-skills h3, .soft-skills h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #261329;
}

.skill-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skill-item i {
    font-size: 1.5em;
    color: #4f5d73;
    margin-right: 10px;
}

.skill-item span {
    font-size: 1.2em;
    color: #555;
}

.soft-skills ul {
    padding: 0;
    margin: 0;
    list-style-type: disc;
    list-style-position: inside;
}

.soft-skills li {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
}

/* Contato */
.contact {
    padding: 50px;
    background-color: #261329;
    text-align: center;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.2rem;
}

/* Rodapé */
footer {
    background-color: #261329;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}
